body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    border: 0;
    margin: 0;
    
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    border-bottom: 1px solid gray;
}

span{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

header *{
    padding: 0.1rem;
}

.hourlyCardsContainer {
    display: flex;
    gap: 1rem;
}

.icons {
    max-height: fit-content;
    max-width: fit-content;
}